.showResult {
  display: block;
}

.hideResult {
  display: none;
}

.recipe-list {
  padding: 5px;
}

.list-container {
  width: 95%;
}

.parent::-webkit-scrollbar {
  display: none;
}

.parent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px;
}

.recipe-list-item-wrapper {
  min-width: 40%;
  max-width: 40%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px -13px #616161;
  box-shadow: 0px 0px 25px -13px #616161;
  display: flex;
  margin: 20px;
  background-color: white;
}
.recipe-list-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  width: 60%;
}

.recipe-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.duration {
  color: #3ec1d3;
  font-weight: bold;
  font-style: italic;
}

.recipe-list-item-wrapper .recipe-img {
  border-radius: 15px 0px 0px 15px;
  width: 45%;
  background-size: cover;
  background-position: center;
}

.values {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.values span {
  font-weight: bold;
}

.values p {
  width: 28%;
  margin: 5px;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 4px orange solid;
}

.name span {
  font-size: 24px;
  font-weight: 600;
}

.list-items {
  list-style: circle;
}

.list-items span {
  display: flex;
  align-items: center;
  width: 100%;
}

.list-items span p {
  margin: 5px;
  width: 50%;
}

.recipe-items-list {
  width: 60%;
  margin: 5px;
}

.recipe-header .values p {
  width: 13%;
}

.recipe-block-ingredients {
  display: flex;
}

.icon-ingredient {
  max-width: 45px;
  margin: 5px 5px;
}

.link-position,
.copy-recipe {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

.link-position .edit {
  max-width: 25px;
}
