/* -webkit-box-shadow: -5px 5px 18px -4px rgba(204,204,204,1);
-moz-box-shadow: -5px 5px 18px -4px rgba(204,204,204,1);
box-shadow: -5px 5px 18px -4px rgba(204,204,204,1); */

h2 {
  color: #2e2e2e;
}

.builder-container h2 {
  width: 100%;
  text-align: left;
}

.builder-ingredient-add {
  width: 100%;
  height: 100%;
  max-height: 85vh;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent-header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  background-color: white;
  padding: 0px 15px;
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  margin: 10px 0px;
}

.search-bar-wrapper img {
  max-width: 30px;
  max-height: 30px;
}

.search-bar {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 5px 10px;
  width: 100%;
  margin: 10px 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.category-select {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.category-header p,
.category-select p {
  min-width: 25%;
  height: 45%;
  color: #777;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  margin: 0px 10px;
  padding: 5px;
  background-color: white;
  white-space: nowrap;
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  cursor: pointer;
}

.category-select p {
  min-width: 22%;
  margin: 5px;
  min-height: 28px;
}

.active {
  border: 2px solid #fc5185;
}

.category-header {
  display: flex;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  height: 80px;
  padding: 5px;
  /* background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 0) 0%,
    rgba(255, 255, 255, 1) 73%
  );
*/
}

.category-header::-webkit-scrollbar,
.ingredient-item-list::-webkit-scrollbar,
.inputs-wrapper .scroll-y::-webkit-scrollbar {
  display: none;
}

.build-message {
  display: flex;
  align-items: center;
}

.build-message img {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

.ingredient-item-list {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  margin: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ingredient-item {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 7px;
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
}

.ingredient-item-list .create-button {
  margin: 10px 0px;
  list-style: none;
}

.add-ingredient-item {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 7px;
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
}

.added-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-item-header .action-buttons {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-buttons .actions {
  width: 20px;
  height: 20px;
}

.add-item-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.added-item-header img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.add-item-info p {
  margin: 2px 0px;
}

.add-item-info p span {
  font-size: 16px;
  margin-left: 5px;
}

.add-item-info .name {
  font-size: 18px;
  font-weight: 600;
}

.values,
.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #3ec1d3;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0px;
}

.input-wrapper {
  margin: 10px 0px;
}

.values h3 {
  padding-bottom: 5px;
  border-bottom: 2px grey solid;
}

.ingredient-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70%;
  padding-left: 22px;
}

.ingredient-header img {
  width: 30px;
  height: 30px;
  margin: 0px 15px 0px 0px;
}

.ingredient-header .name {
  font-size: 16px;
  font-weight: 600;
}

.nutrients-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
  margin: 5px;
}

.total-nutrients-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.total-nutrients-wrapper .group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-nutrients-wrapper .value {
  width: 40%;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  font-size: 16px;
  color: #777;
  margin: 10px 0px;
}

.nutrients-wrapper .value {
  width: 18%;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  font-size: 14px;
  color: #777;
}

.nutrients-wrapper .protein,
.total-nutrients-wrapper .protein {
  border-bottom: 2px solid #ffd76f;
}

.nutrients-wrapper .sugar,
.total-nutrients-wrapper .sugar {
  border-bottom: 2px solid #ff006d;
}

.nutrients-wrapper .oil,
.total-nutrients-wrapper .oil {
  border-bottom: 2px solid #ffe600;
}
.nutrients-wrapper .kcal,
.total-nutrients-wrapper .kcal {
  border-bottom: 2px solid #ff5c4d;
}

.nutrients-wrapper .value img,
.total-nutrients-wrapper .value img {
  max-width: 20%;
  margin-right: 5px;
}

.inutrients-wrapper .value span {
  font-weight: bold;
}

.ingredient-item img.add-icon,
.portion-buttons img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.builder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.builder h4 {
  padding-bottom: 6px;
  border-bottom: 1px solid grey;
}

.builder-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 85vh;
  justify-content: space-around;
  align-items: stretch;
}

.builder-container .middle,
.builder-container .left,
.builder-container .split {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  justify-content: space-between;
  padding: 0px 10px;
}

.inputs-wrapper .scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 20px;
}

.left button.create,
.create-button {
  max-width: 250px;
  padding: 10px 30px;
  border-radius: 7px;
  border: none;
  background-color: #5da2bb;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
}

.left button.create {
  margin: 10px auto;
}

.portion-container,
.error-container,
.create-container {
  width: 30vw;
  max-width: 30vw;
  padding: 20px 40px;
  border-radius: 7px;
  background-color: white;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -18vw;
  -webkit-box-shadow: 0px 15px 50px 5px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 0px 15px 50px 5px rgba(204, 204, 204, 0.75);
  box-shadow: 0px 15px 50px 5px rgba(204, 204, 204, 0.75);
}

.portion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portion-container h1 {
  width: 100%;
  text-align: left;
}

.portion-container .name-portion {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portion-container .name-portion .portion {
  display: flex;
  align-items: center;
}

.portion-container .name-portion .name {
  width: 50%;
  padding-bottom: 2px;
  border-bottom: 2px solid #3ec1d3;
  text-align: center;
  font-size: 20px;
}

.portion-container .name-portion span {
  font-weight: 600;
  margin: 0px 10px;
}

.portion-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-values-wrapper {
  margin: 5px auto;
  padding: 10px 5px;
  border-radius: 7px;
}

.values-wrapper {
  margin: 20px auto;
  padding: 10px 5px;
  border-radius: 7px;
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
}

.error-container {
  color: rgb(54, 54, 54);
}

.error-container p {
  width: 5%;
  border-bottom: 1px white solid;
  padding-bottom: 3px;
}

.inputs-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.inputs input {
  border-style: none;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group .group-item {
  width: 45%;
}

.input {
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  border-radius: 0.5em;
  background-color: white;
  padding: 0px 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  font-size: 14px;
}

.input-wrapper .name,
.input-wrapper .time,
.input-wrapper .image {
  padding: 15px;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label.image {
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  background: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #2e2e2e;
  font-size: 14px;
  outline: none;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.image p {
  margin: 0;
}

label.image img {
  width: 25px;
  height: 25px;
}

.input-wrapper select {
  height: 43px;
}

.input-wrapper .description {
  padding: 10px;
  height: 120px;
  max-height: 150px;
  font-size: 12px;
  resize: none;
}