textarea:focus,
input:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2e2e2e;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #777;
}

.clippath,
.clippath-two {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(
    145deg,
    rgba(94, 195, 233, 0.2) 0%,
    rgba(210, 249, 255, 0.2) 100%
  );

  z-index: -22;
}

.clippath {
  top: 0;
  right: 0;
  clip-path: polygon(24% 0, 100% 0%, 100% 45%, 82% 16%);
}

.clippath-two {
  bottom: 0;
  left: 0;
  clip-path: polygon(0 70%, 21% 65%, 53% 100%, 0 100%);
}

.landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  min-width: 30vw;
  min-height: 30vh;
  padding: 10px 20px;
  background-color: #b3b3b3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-block form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-block form input {
  margin: 10px 0px;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
}

.login-block form button {
  background-color: #80ff80;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
