textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2e2e2e;
  padding: 0px 20px;
  display: block;
  margin: auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #777;
}

.clippath,
.clippath-two {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-image: linear-gradient(
    145deg,
    rgba(94, 195, 233, 0.2) 0%,
    rgba(210, 249, 255, 0.2) 100%
  );

  z-index: -22;
}

.clippath {
  top: 0;
  right: 0;
  clip-path: polygon(24% 0, 100% 0%, 100% 45%, 82% 16%);
}

.clippath-two {
  bottom: 0;
  left: 0;
  clip-path: polygon(0 70%, 21% 65%, 53% 100%, 0 100%);
}

.landing {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  min-width: 400px;
  min-height: 250px;
  max-width: 30vw;
  max-height: 30vh;
  padding: 10px 20px;
  border-radius: 4px 15px 3px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3ec1d3;
  color: white;
}

.login-block form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-block form input {
  margin: 10px 0px;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
}

.login-block form label {
  color: rgb(53, 52, 52);
}

.login-block form button {
  background-color: #35f835;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: rgb(53, 52, 52);
  margin-top: 10px;
}

.login-block h1 {
  color: #f2f2f2;
}

.shadow {
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
}

.shadow-hover {
  -webkit-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  box-shadow: -5px 5px 18px -4px rgba(204, 204, 204, 1);
  transition: 0.2s;
  cursor: pointer;
}

.shadow-hover:hover {
  -webkit-box-shadow: -5px 5px 18px -4px rgba(158, 155, 158, 1);
  -moz-box-shadow: -5px 5px 18px -4px rgba(158, 155, 158, 1);
  box-shadow: -5px 5px 18px -4px rgba(158, 155, 158, 1);
}

.box {
  background-color: white;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 7px;
}

.exit {
  background-color: tomato;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: center;
}

.click-button {
  background-color: #3ec1d3;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  margin: 5px 0px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  max-width: 200px;
  text-align: center;
}

.link-style {
  text-decoration: none;
}

.img-action {
  width: 30px;
  height: 30px;
}

.max {
  max-width: 1240px;
  display: block;
  margin: auto;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.full {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.split-2 {
  width: 45%;
  min-width: 45%;
  max-width: 45%;
}

.split-3 {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.split-4 {
  width: 22%;
  min-width: 22%;
  max-width: 22%;
}

.cursor {
  cursor: pointer;
}

.pop-up {
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: #3ec1d3;
  transition: 0.4s;
  z-index: 22;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.pop-up h4 {
  color: white;
}

.hide {
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.show {
  opacity: 1;
  transition: 0.3s;
  visibility: visible;
}

.heart {
  background-image: url("./components/icons//like.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80%;
  right: 5px;
}

.white {
  color: white;
}

button.premium {
  background-color: #44c4d5;
  color: white;
}