textarea:focus,
input:focus {
  outline: none;
}

.landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("./components/static/food-achtergrond.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-block {
  min-width: 30vw;
  min-height: 30vh;
  padding: 10px 20px;
  background-color: #b3b3b3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-block form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-block form input {
  margin: 10px 0px;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
}

.login-block form button {
  background-color: #80ff80;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
