.header {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
}

.logo img {
  height: 70px;
  width: inherit;
}

.menu-options button {
  margin: 0px 5px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: rgb(65, 65, 65);
}

.login {
  background-color: #80ff80;
}

.register {
  background-color: #ff704d;
}
